*{
    box-sizing: border-box;
}
main{
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}
 .sor{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}
.jatekter{
    padding: 10px;
  
    border: 2px solid gray;
}

.jateksor {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 2px solid lightgray; 
    padding: 5px;
    gap: 10px;
}
.visszajelzes{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
}
.vElem, .Elem{
    aspect-ratio: 1;
    border: 1px solid lightgray;
}
.szinvalaszto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 3px;
    cursor: grab;
}
.szin{
    width: 100%;
    max-width: 60px;
    aspect-ratio: 1;
    border: 1px solid lightgray;
    cursor: grab;
    gap: 3px;
    border-radius: 100px;
}
.szin:nth-child(1){
    background-color: red;
}
.szin:nth-child(2){
    background-color: green;
}
.szin:nth-child(3){
    background-color: orange;
}
.szin:nth-child(4){
    background-color: yellow;
}
.szin:nth-child(5){
    background-color: blue;
}
.szin:nth-child(6){
    background-color: purple;
}

.jobb {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}
.gombok {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    padding: 10px;
    font-size: 16px;
}